<div class="chats_title">
    <h1><%= @channel.channel %></h1>
</div>

<div class="chats_create">
  <%= form_for @chat, url: channel_chats_path(@channel.id) do |f| %>
    <%= f.text_field :content, placeholder: "コメント作成" %>
    <%= f.submit '作成'%>
    <%= f.label "画像をアップロード" %><br><%= f.file_field :image %>
  <% end %>
</div>


<% @chats.each do |chat|%>
 <div class="chats_main">
     <!--< @user = User.find_by(id:chat.user_id)%>-->
     <div chat class="chats_name">
         <%= chat.user.email%>
     </div>
     <div class="chats_content">
         <%= chat.content %>
     </div>
     <div class="chats_updated_at">
         <%= chat.updated_at.strftime("%H:%M・%Y/%m/%d") %>
     </div>

     <% if chat.image? %>
         <%= image_tag chat.image.url %>
     <% end %>
</div>
<% end %>

<%= will_paginate @chats, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>



<!--# <= paginate @chats >-->


<!--<h1>Chats#show</h1>-->
<!--<p>Find me in app/views/chats/show.html.erb</p>-->